__pycache__
.vscode
.claude/
pw-browsers/
miniatury/
output/
dist/
build/
config.ini
test*
*.spec
*.html
*.txt
*.xlsx
*.zip
logged_in.json
_old_get_html.py
*.ps1
build.spec
*.code-workspace
LISTA_MAREK.py
manual_description.py